doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='css/normalize.min.css')
      link(rel='stylesheet', href='/css/foundation.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='/js/modernizr.js')
  body
    block content
      script(src='/js/jquery.min.js')
      script(src='/js/foundation.min.js')
